
:root{
    --blueGradient: linear-gradient(90deg, rgba(1,171,106,1) 0%, rgba(9,121,120,1) 48%, rgba(0,212,255,1) 100%);
}


*{
    font-size: 1.25rem;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;

    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      
}

.user-page-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0;
    background-color: white;
    height: 3.5rem;
    padding: 0 1rem;
}



.user-page-nav ul{

    list-style: none;
}

.logout-btn button{
    border: none;
    border-radius: 0.3rem;
    font-size: 1rem;
    margin: 0 0 0 1rem;
    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.logout-btn a{
    text-decoration: none;
    font-size: 1rem;
    color: white;
}

.user-control{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.user-logout{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.main-info{
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    flex: 1;
}
.menu{
    width: 22%;
    background-color: white;
    margin-right: 5rem;
  
    border-top: 1px solid;
}

.menu-items {
    list-style: none;
    padding: 0;
    font-size: 1.5rem;
}

.menu-items li{
    margin: 0.5rem;
    border: 1px solid;
    display: flex;
    justify-content: flex-start;
    padding: 0rem 0.3rem;
    flex-wrap: wrap;
    background: linear-gradient(to right,#0072ff, #00c6ff 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .194s ease-out;
}

.menu-items li:hover{
    background-position: left bottom;
    color:white;
}

.menu-items a{
    text-decoration: none;
    color: black;

}

.menu-items a:hover{
    text-decoration: none;
    color: white;
}

.products-section{
    display: flex;
    width: 70%;
    flex-direction: column;
    margin-right: 5rem;
    color: white;
}

.welcome-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-style: italic;
}

.products-list{
    padding: 0;
    margin: 0;
}

.product-card{
    background-color: white;
    color: black;
    max-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 10px 0px;
    padding: 10px;
    border: 0.5px solid rgb(240, 164, 41);
}

.product-section ul{
    margin :0;
    padding: 0;
}
